.attractions {
    margin-top: 100px;

    &__box {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            width: 280px;
            background-color: #d8d8d8;
            margin-top: 20px;
            padding-bottom: 20px;

            &:hover {
                transform: translateY(-8px);
            }
        }
    }
}

@media (max-width: 767px) {
    .attractions {
        &__box {
            justify-content: center;
        }
    }
}