.attractions {
    margin-top: 100px;

    &__box {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            width: 280px;
            background-color: #aaaaaa;
            margin-top: 20px;
            padding-bottom: 20px;

            &:hover {
                transform: translateY(-8px);
            }
        }
    }
}