@use 'variables';

.welcome {
    margin-top: 8%;

    &__image {
        border-radius: 50%;
        transform: translateY(-70px);
        border: 6px solid variables.$corNeutra;
        width: 200px;
    }

    &__title {
        margin-top: 20px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__text {
        padding-bottom: 20px;
    }

    &__confirmation-button {
        display: block;
        margin: 20px auto;
        width: 300px;
        height: 60px;
        font-size: 18px;
        text-transform: uppercase;
        background-color: variables.$corDoTitulo;
        color: variables.$corNeutra;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all .5s ease;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        &:hover {
            background-color: lighten(variables.$corDoTitulo, 5%);
            transform: scale(1.05);
        }
    }

    #contador {
        font-size: 38px;
    }
}

.img-container {
    height: 130px;
}

.date {
    font-size: 16px;
    color: #636363;
}